/* src/App.css */
.App {
  display: flex;
}
/* .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.nav-icon {
  margin-right: 8px;
  font-size: 1.2rem;
  padding-left: 40px;
  padding: 30px;
}